*{
    margin: 0px;
    padding: 0px;
    
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#top-con{
    height: 10vh;
    width: 100%;
    background-color: #181716;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#top-con h1{
    margin-left: 5px;
    color: yellow;
}

#body-con{
    height: 85vh;
    width: 100%;
    background-color: #EBD5AB;
    display:flex;
     flex-direction: row;
    align-items: center;
    justify-content: center;


}

#body-con #app-list{
    background-color: #b0df91be;
    width: 50%;
    height: auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
}

#body-con #app-list #note{
    background-color: #b0df91be;
    width: 70%;
    height: auto;
    padding: 5px;
    margin-top: 30px;
    border: 1px solid red;
    border-radius: 1px;
    font-size: 15px;
}

#body-con #app-list #note wrap{
  color: red;
}

#body-con #app-list #title{
   margin-bottom: 20px;
   text-align: center;
   font-size: 20px;
}

#body-con #app-list a{
    text-decoration: none;
    
}

#bottom-con{
    height: 5vh;
    width: 100%;
    background-color: #1B211A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
